name: Check

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  check:
    name: Check format and package exports
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'pnpm'
      - run: pnpm install --frozen-lockfile
      - run: pnpm run check
