name: Release

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

permissions:
  contents: write       # Needed for creating PRs and commits
  pull-requests: write  # Needed for creating/updating version PRs

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Changesets (version or publish)
        id: changesets
        uses: changesets/action@v1.5.3
        with:
          version: pnpm run changeset:version
          # publish: pnpm run changeset:publish
          commit: 'ci: Version Packages'
          title: 'ci: Version Packages'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
